h3 {
    font-family: 'Baloo Bhaina 2', cursive;
    margin-top: 8px;
    color:#519D9E;
    font-size: 1.8rem;
}

header {
    display:flex;
    justify-content: space-evenly;
}

.header_left {
    margin-top:15px;
}

.header_left a, .header-right a {
    text-decoration: none;
    color: #9DC8C8;
}

.header_middle a{
    text-decoration: none;
}

.header-right {
    margin-top: 15px;
}

.category img {
    width:300px;
    height:350px;
    align-items: center;
}

.category {
    display: grid;
    grid-template-rows: repeat(3,300px);  
    grid-template-columns: repeat(3,350px);
    justify-content: center;
}

.item_list {
    display:grid;
    grid-template-rows: repeat(2,200px);  
    grid-template-columns: repeat(4,250px);
    justify-content: center;
    row-gap: 8rem;
    column-gap: 1rem;
}

.item_list img {
    width:200px;
    height:200px;
}

.item_list p{
    text-align: center;
    font-family: 'Baloo Bhaina 2', cursive;
    color:#6E7783;
}

.bottle h2 {
    text-align: center;
    border: solid #6E7783 1px;
    color: #6E7783;
    padding: 10px 10px 10px 10px;
}

#grid {
    display:grid;
    grid-template-columns: 200px 1fr;
}

#grid-left {
    color:#6E7783;
    margin-top:10px;
    border-right:dashed #D1B6E1 1px;
    border-top:dashed #D1B6E1 1px;
    
}

#grid-right {
    border-top:dashed #D1B6E1 1px;
    margin-left: 30px;
    margin-top:10px;
}

.closca-brand, .fourocean-brand, .zerowaste-brand {
    color:#566270;
    text-align: center;
    border:dashed #566270 1px;
    margin-bottom: 20px;
}


.item_list img{
    padding-left: 25px;
}

.footer-copyright {
    background-color:#D1B6E1;
    color:#fffff3;
    padding:8px 0 8px 0;
    text-align: center;
    margin:0;
    font-size:14px;
}

